.App {
  text-align: center;
  background-color: rgb(247, 239, 229);
  height: 100vh;
}
.instructions{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-items: flex-start;
}
.instructions{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-items: flex-start;
}
.header{
  background-color: rgb(249, 224, 194);
}


